
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
.fas{
  font-size: 20px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
   
  -webkit-user-drag: unset;
  box-sizing: border-box;
 
}

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header",
  "main",
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  height: 100%;
}
.header{
  top: 1px;
  position: sticky;

}

.navbar{
  background: linear-gradient(30deg , #6b423b ,#be5266);

}

.main{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.main-div{
display: flex;
flex-wrap: wrap;
flex-direction: row;
height: auto;
width: 100%;
background: linear-gradient(90deg ,  #854e74 ,#f2c8ce );

}

.lottiePic{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  background: linear-gradient(90deg ,  #854e74 ,#f2c8ce );
}

.lottiePic div{
  width: 100vh;
  display: flex;
  flex-direction: row;
  height:auto;
}
.lottieDiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 40%; 
}

@import url("https://fonts.googleapis.com/css?family=Tangerine");


.lottieDiv2 text {
  font-size: 70px;
  font-family: tangerine;
  text-align: center;
  color: #ffffff;
}



.main-picture{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;

}

.main-tags{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 700px;

}




.main-tags ul{
  border:1px solid #eee6e7;
  border-radius: 10px;
  padding: 30px;
}
.main-tags ul li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  padding: 60px 30px;
  width: 400px;
  
}

.main-tags ul li input , .register ul li input{
  outline: unset;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #db8888;
}
.register ul li input{
  border-bottom: 2px solid #3b5758;

}
.main-tags ul li input:focus , .register ul li input:focus{
  border-bottom: 2px solid green;
}
.main-tags ul li label , .register ul li label{
  font-weight: bold;
  color: #34574e ;
}
.main-tags ul li h2 ,.register ul li h2{
  text-align: center;
  font-weight: bolder;
  color: #587259;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-picture img{
  width: auto;
  height: 100%;
}


.register , .problems{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  background: linear-gradient(90deg , #898a87 , #80a86f);
  height: 120%;
  width: 100%;
}

.register ul{
  border:1px solid #eee6e7;
  border-radius: 10px;
  padding: 30px;
}

.register ul li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  padding: 50px 30px;
  width: 400px;
}
.register ul li select {
  background: transparent;
  padding: 5px 10px;
  width: auto;
  border: 2px solid #3b5758;
  cursor: pointer;
}
.register ul li select:active{
  border: 2px solid green;

}


input[type="file"]{
  height: 30px;
  background:unset;
  cursor: pointer;
  padding: unset;
}

.sem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.sem select{
  
  width: 100%;
  height: 40px;
  border: 3px solid #76ca6b;
  outline: hidden;
  margin: 10px;
  
}
.sem ul{
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  padding-inline-start: unset;
  height: auto;
  z-index: 100;
}
.sem ul li{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid #d3a95a;
  padding: 30px 20px;
  margin: 5px 0;
}
.sem ul li>div{ 
  flex: 1;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
}
.sem ul li div button{
  margin: 10px;
}


.sem ul li div h6{
  color: #3f7534;
  text-decoration: underline;
}
.sem ul li div b{
  color: #2e4729;
}

/*           Problems          */
.problems {
  height: 700px;
  background: linear-gradient(90deg , #525756 ,#e6fcfc);
}
.problems form{
  width: 80%;
  border: 2px solid rgb(156, 96, 96);
  padding: 20px;
  border-radius: 10px;
}
.problems form textarea{
  height: 100px;
}

/************tags****************/

.tags{
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
}

.tags div a{
  text-decoration: unset
}

@import url("https://fonts.googleapis.com/css?family=Audiowide");

.clgName{
  text-indent: 40px;
  color: #fff;
  font-size: 150px;
  font-family: Audiowide;
  text-shadow: 3px 3px 3px #e0d5d5;
  
}
.clgFam{
  text-indent: 40px;
  color: #fff;
  width: 100%;
  font-size: 30px;
  text-align: end;
  font-family: Arial, Helvetica, sans-serif;  
}
.tags div a:hover .clgName{
  color: #cecece;

}
.clgName:hover{
  cursor: pointer;
  
}
#id1{
  animation: animate 1s 1s;
}
#id2{
  animation: animate 2s 1s;
}
#id3{
  animation: animate 3s 1s;
}
  @keyframes animate {
    from{
      opacity: 0%;
    }
  
    to {
      opacity: 100%;

    }
  }
 
.problems{
  display: flex;
  flex-direction: column;
  
}
.problemsInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding:10px 30px;
  
}
.problemsInfo h5{
  color: #3f7534;
  text-decoration: underline;
}
.problemsInfo b{
  color: #7a694e;
}
.view{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 10px;

}

embed{
  border: unset;
}

/***************Admin*****************/

.problemsList{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 20px ;
}
.problemsList ul{
  display: flex;
  flex-direction: column;
  min-width: 100ch;
}

.problemsList ul h2{
  text-align: center;
  color: #76ca6b;
}

.problemsList ul li {
  display: flex;
  flex-direction: column;
  border: 2px solid #76ca6b;
  width: 100ch;
  padding: 10px;
  margin: 5px;
}
.problemsList ul li div{
  display: flex;
  flex-direction: row;
}

.problemsList ul li div h6{
  width: 100px;
  color: #615d5d ;
}
.problemsList ul li div b{
  color: #8d5252 ;
}

